@font-face {
  font-family: "Melt";
  src: url("font/Melt-Swashes.ttf");
}

@font-face {
  font-family: "Fredoka";
  src: url("font/Fredoka.ttf");
}

body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  background:
    linear-gradient(to bottom, rgba(255,255,255,0.15), rgba(0,0,0,0.15)),
    radial-gradient(at top center, rgba(255,255,255,0.40), rgba(0,0,0,0.40)) #989898;
  background-blend-mode: multiply, multiply;
}

h1 {
  font-family: "Melt";
  font-size: 3em;
}

.menu-btn {
  display: block;
  margin: 15px auto;
  padding: 18px;
  width: 80%;
  border-radius: 30px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card {
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

select, button {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: none;
}
